.parent {
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
}

.box {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
}

.stick {
  height: 1px;
}

.counter {
  position: absolute;
  margin-top: -36px;
  margin-left: -2px;
  font-size: 14px;
  white-space: nowrap;
}

.px {
  font-size: 10px;
}

.sizeSmallT {
  font-size: 14px;
}

.sizeBigT {
  font-size: 18px;
}

.center {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}

.visible {
  opacity: 1;
  transition-duration: 0.2s;
}

.hidden {
  opacity: 0;
  transition-duration: 0.2s;
}
