.slider {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 2px;
}

.sliderHandle {
  border-radius: 50%;
}

.t {
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
}

.t:hover {
  cursor: pointer;
}

.center {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}

.visible {
  opacity: 1;
  transition-duration: 0.2s;
}

.hidden {
  opacity: 0;
  transition-duration: 0.2s;
}
